#parse("/templates/layout.html")
#@mainLayout()

    Sport<br/>
    <form id="select-sport" action="/add-event" method="get">
        <select name="sportId" onchange="this.form.submit()">
            #foreach( $e in $sports )
                <option value="$e.getSportId()" #if($selectedSportId==$e.getSportId()) selected #end >
                    $e.sport
                </option>
            #end
        </select>
    </form>

    <form id="add-event" action="/add-event?sportId=$selectedSportId" method="post">
        <table>
            <tr>
                <td>Start</td>
                <td>
                    <input type="datetime-local" name="start" />
                </td>
            </tr>
            <tr>
                <td>Team1</td>
                <td>
                    <select name="teamId1">
                        #foreach( $e in $teams )
                        <option value="$e.getTeamId()">
                            $e.getTeam()
                        </option>
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td>Team2</td>
                <td>
                    <select name="teamId2">
                        #foreach( $e in $teams )
                        <option value="$e.getTeamId()">
                            $e.getTeam()
                        </option>
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="submit" type="submit" value="Add event" />
                </td>
            </tr>
        </table>
    </form>

#end