#parse("/templates/layout.html")
#@mainLayout()
    <form id="select-sport" action="/" method="get">
        <table>
            <tr>
                <td width="70">Sport</td>
                <td>
                    <select name="sportId" onchange="this.form.submit()">
                        #foreach( $e in $sports )
                        <option value="$e.getSportId()" #if($selectedSportId==$e.getSportId()) selected #end >
                            $e.sport
                        </option>
                        #end
                    </select>
                </td>
            </tr>
        </table>
    </form>

    <table class="myTable">
        <tr>
            <th>Start</th>
            <th>Sport</th>
            <th>Team</th>
            <th>Team</th>
        </tr>
        #foreach( $e in $events )
        <tr>
            <td>$e.getStart()</td>
            <td>$e.getSport()</td>
            <td>$e.getTeam1()</td>
            <td>$e.getTeam2()</td>
        </tr>
        #end
    </table>
#end